<div class="container">
    <div class="header">
        <h5 class="text-center">
            Medicine Details
        </h5>
        <!--search functionality-->
        <div class="form-control">
            <input class="form-control" type="text"
            placeholder ="Search here...."
            [(ngModel)]="filter">

        </div>
        <a [routerLink]="['../medicine']" class="btn btn-primary" style="float :right;margin-bottom:10px">Add Medicine</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                
                <th>
                    Medicine Name
                </th>
                <th>
                   StartDate
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Dosage
                </th>
                
                <th>
                    IsActive
                </th>


                <!--<th>
                        Department
                    </th>
                    <th>
                        Status
                    </th>-->
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pat of this.medicineService.medicines | filter: filter" >
                
                <td (click)="populateForm(pat)">{{pat.MedicineName}}</td>
                <td (click)="populateForm(pat)">{{pat.StartDate}}</td>
                <td (click)="populateForm(pat)">{{pat.EndDate}}</td>
                <td (click)="populateForm(pat)">{{pat.Dosage}}</td>
                <td (click)="populateForm(pat)">{{pat.IsActive}}</td>

                <!--<td>{{emp.DepartmentId}}</td>
                    <td >{{emp.IsActive}}</td>-->
                <td>
                    <button class="btn btn-sm btn-outline-danger" 
                    (click)="deleteMedicine(pat)">Delete</button>&nbsp;
                    <button class="btn btn-sm btn-outline-danger" (click)="updateMedicineRecord(pat.MedicineId)" class="btn btn-sm btn-info" style="margin-left:10px">Edit</button>
                </td>

            </tr>
        </tbody>



    </table>
    
</div>

