<header>
    <div class="container">
        <h5>Welcome:{{loggedUserName}}</h5>
    </div>

</header>

<br>
<br>

<body>
    <!--<div>
    <img src = 'https://g.foolcdn.com/editorial/images/180925/gettyimages-949812160.jpg'>
  </div>-->
    <div>
        <table align="center">
            <tr><button routerLink="/doctor" routerLinkActive="active" type="button" class="btn btn-dark"
                    style="width:200px;">ADD DOCTOR</button></tr>
        </table>
    </div>

    <br>
    <br>

    <div>
        <table align="center">
            <tr><button routerLink="/doctorlist" routerLinkActive="active" type="button" class="btn btn-dark"
                    style="width:200px;">MANAGE DOCTOR</button></tr>
        </table>
    </div>

    <br>
    <br>

    <div>
        <table align="center">
            <tr><button routerLink="/staff" routerLinkActive="active" class="btn btn-dark" style="width:200px;">ADD
                    STAFF</button></tr>
        </table>
    </div>

    <br>
    <br>

    <div>
        <table align="center">
            <tr><button routerLink="/stafflist" routerLinkActive="active" class="btn btn-dark"
                    style="width:200px;">MANAGE STAFF</button></tr>
        </table>
    </div>

    <br>
    <br>





    <div>
        <table align="center">
            <tr><button type="button" (click)="logout()" router class="btn btn-dark"
                    style="width:200px;">LOGOUT</button></tr>
        </table>
    </div>
    <br>
    <br>


    <footer align="center">
        <span>All Rights reserved 2021 Health360<a href="">@Health360</a></span>
    </footer>


</body>