<div class="container">
    <div class="header">
        <h2 class="text-center">Staff Info</h2>
        <!--Search -->
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here .."
            [(ngModel)]="filter"/>
        </div>
    </div>
    <a [routerLink]="['staff']" class="btn btn-primary">Add staff</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Date Of Join</th>
                <th>Experience(Years)</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let staff of staffService.staff|filter :filter| paginate:{itemsPerPage: 3,currentPage: page}">
                <td>{{staff.StaffId}}</td>
                <td>{{staff.StaffName}}</td>
                <td>{{staff.JoiningDate | date:'dd-MM-yyyy'}}</td>
                <td>{{staff.Experience}}</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="updateStaffRecord(staff.StaffId)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>

</div>