<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Doctor Registration</h3>
                        <form name="docform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

                            <div class="row">
                                <div class="col-md-8 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">Doctor Name</label>
                                        <input input name="DoctorName" #DoctorName="ngModel"
                                            [ngModel]="docService.formData.DoctorName" [pattern]="namePattern"
                                            placeholder="Enter full name" minlength="5" maxlength="25" required
                                            [ngClass]="{'is-invalid':DoctorName.touched && DoctorName.invalid}"
                                            type="text" id="firstName" class="form-control form-control-lg" />

                                    </div>
                                    <div class="validation-error" *ngIf="DoctorName.touched && DoctorName.invalid">
                                        <div *ngIf="DoctorName.errors.pattern">
                                            Doctor Name not valid.
                                        </div>

                                        <div *ngIf="DoctorName.errors.required">
                                            Name is required</div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label class="form-label">Specialization</label>
                                        <select name="Specialization" id="Specialization" class="form-control"
                                            #Specialization="ngModel" required
                                            [(ngModel)]="docService.formData.Specialization"
                                            [ngClass]="{'is-invalid':Specialization.touched && Specialization.invalid}">
                                            <option value="null" disabled>Choose Specialization</option>
                                            <option value="paeditrics">MD in Paediatrics</option>
                                            <option value="Dermatology">MS in Dermatology</option>
                                            <option value="Ophthalmology">MS in Opthalmology</option>
                                            <option value="Neurology">MD in Neurology</option>
                                            <option value="Neurology">MD in Neurology</option>
                                        </select>
                                        <div class="validation-error"
                                            *ngIf="Specialization.touched && Specialization.invalid">
                                            <div *ngIf="Specialization.errors.required">
                                                Specialization is required</div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label">Date of Joining</label>
                                        <input type="date" name="JoiningDate" id="JoiningDate" #JoiningDate="ngModel"
                                            [ngModel]="docService.formData.JoiningDate" class="form-control" required
                                            [ngClass]="{'is-invalid':JoiningDate.touched && JoiningDate.invalid}" />
                                        <div class="validation-error"
                                            *ngIf="JoiningDate.touched && JoiningDate.invalid">

                                            <div *ngIf="JoiningDate.errors.required">
                                                Date Of Joining is required</div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-8 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label">Department</label>
                                        <select name="DepartmentId" id="DepartmentId" class="form-control"
                                            #DepartmentId="ngModel" required
                                            [(ngModel)]="docService.formData.DepartmentId"
                                            [ngClass]="{'is-invalid':DepartmentId.touched && DepartmentId.invalid}">
                                            <option value=0 disabled>Choose Department</option>
                                            <option *ngFor="let dept of docService.departments"
                                                value="{{dept.DepartmentId}}">{{dept.DepartmentName}}
                                            </option>


                                        </select>
                                        <div class="validation-error"
                                            *ngIf="DepartmentId.touched && DepartmentId.invalid">

                                            <div *ngIf="Department.errors.required">
                                                Department is required</div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <label>Experience</label>
                                    <input name="Experience" #Experience="ngModel"
                                        [ngModel]="docService.formData.Experience" class="form-control"
                                        placeholder="Enter Experience" [pattern]="decPattern" minlength="1"
                                        maxlength="4" required
                                        [ngClass]="{'is-invalid':Experience.touched && Experience.invalid}" />
                                    <div class="validation-error" *ngIf="Experience.touched && Experience.invalid">
                                        <div *ngIf="Experience.errors.pattern">
                                            Enter a valid number
                                        </div>
                                        <div *ngIf="Experience.errors.required">
                                            Experience is required</div>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8">
                                    <label>Contact</label>
                                    <input name="Contact" #Contact="ngModel" [ngModel]="docService.formData.Contact"
                                        [pattern]="mobNumberPattern" class="form-control" placeholder="Enter Contact"
                                        minlength="10" maxlength="10" required
                                        [ngClass]="{'is-invalid':Contact.touched && Contact.invalid}" />
                                    <div class="validation-error" *ngIf="Contact.touched && Contact.invalid">
                                        <div *ngIf="Contact.errors.pattern">
                                            Mobile number not valid.
                                        </div>

                                        <div *ngIf="Contact.errors.required">
                                            Contact is required</div>
                                    </div>
                                </div>
                            </div>


                            <div class="mt-4 pt-2">
                                <button type="submit" [disabled]="!(form.valid && form.dirty)" class="btn btn-lg btn-primary ">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>