<div class="container">
    <div class="header">
        <h5 class="text-center">
            Test Details
        </h5>
        <!--search functionality-->
        <div class="form-control">
            <input class="form-control" type="text"
            placeholder ="Search Name"
            [(ngModel)]="filter">
        </div>
        <!--<input style="width: 25%;" class="form-control col-md-3" type="text" 
            placeholder="Search Name " 
           [(ngModel)]="tempFilter">-->
        
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    FULL NAME
                </th>
                <th>
                    ADDRESS
                </th>
                <th>
                    CONTACT
                </th>
                <th>
                    GENDER
                </th>
                <th>
                    AGE
                </th>
                <th>
                    BLOOD GROUP
                </th>

                <th>
                    DOCTOR ID
                </th>
                <th>
                    IsActive
                </th>


                <!--<th>
                        Department
                    </th>
                    <th>
                        IsActive
                    </th>-->
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pat of this.patientService.patients | filter: filter | filter : dateFilter" >
                <td (click)="populateForm(pat)">{{pat.PatientId}}</td>
                <td (click)="populateForm(pat)">{{pat.PatientName}}</td>
                <td (click)="populateForm(pat)">{{pat.Address}}</td>
                <td (click)="populateForm(pat)">{{pat.Contact}}</td>
                <td (click)="populateForm(pat)">{{pat.Gender}}</td>
                <td (click)="populateForm(pat)">{{pat.Age}}</td>
                <td (click)="populateForm(pat)">{{pat.BloodGroup}}</td>
                <td (click)="populateForm(pat)">{{pat.DoctorId}}</td>
                <td (click)="populateForm(pat)">{{pat.IsActive}}</td>

                <!--<td>{{emp.DepartmentId}}</td>
                    <td >{{emp.IsActive}}</td>-->
                <td>
                    
                    
                    <button class="btn btn-sm btn-outline-danger" (click)="viewTest(pat.PatientId)" class="btn btn-sm btn-info" style="margin-left:10px">report</button>
                    <button class="btn btn-sm btn-outline-danger"  routerLink= "/test" routerLinkActive="active"  class="btn btn-sm btn-info" style="margin-left:10px">Add Report </button>
                </td>

            </tr>
        </tbody>



    </table>
    
</div>
