<form name="patform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <!--patient id-->
    <input type="hidden" name="PatientId" [ngModel]="patientService.formData.PatientId" />

    <!--patient name-->
    <div class="form-group">

        <label>Full Name</label>
        <input name="PatientName" #PatientName="ngModel" [ngModel]="patientService.formData.PatientName"
            class="form-control" placeholder="Enter full name" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid':PatientName.touched && PatientName.invalid}" />
        <div class="validation-error" *ngIf="PatientName.touched && PatientName.invalid">

            <div *ngIf="PatientName.errors.required">
                Full Name is required</div>
        </div>
    </div>
    <!--contact-->
    <div class="form-group">

        <label>Contact</label>
        <input name="Contact" #Contact="ngModel" [ngModel]="patientService.formData.Contact"
            class="form-control" placeholder="Enter Contact" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid':Contact.touched && Contact.invalid}" />
        <div class="validation-error" *ngIf="Contact.touched && Contact.invalid">

            <div *ngIf="Contact.errors.required">
                Contact is required</div>
        </div>
    </div>
    <!--Address-->
    <div class="form-group">

        <label>Address</label>
        <input name="Address" #Address="ngModel" [ngModel]="patientService.formData.Address"
            class="form-control" placeholder="Enter Address" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid':Address.touched && Address.invalid}" />
        <div class="validation-error" *ngIf="Address.touched && Address.invalid">

            <div *ngIf="Address.errors.required">
                Address is required</div>
        </div>
    </div>
    
    <!--Gender-->
    <div class="form-group">
        <label>Gender</label>
        <input type="radio" value="male" name="Gender" required #Gender="ngModel" [ngModel]="patientService.formData.Gender" class="form-check-input"> Male
        <input type="radio" value="female" name="Gender"required #Gender="ngModel" [ngModel]="patientService.formData.Gender" class="form-check-input"> Female
        <div *ngIf="gender.invalid"> 
            Gender is required. 
        </div>  
    </div>
    <!--Is Active-->
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">Is active </label>
            <input type="checkbox" name="IsActive" id="IsActive" #IsActive="ngModel"
                [(ngModel)]="patientService.formData.IsActive" class="form-check-input">
        </div>
    </div>

    <!--submit button-->
    <br>
    <div class="form-group">
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control">Submit</button>
    </div>




</form>
