<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Appointment</h3>
                        <form name="appform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)"
                            method="post">

                            <div class="row">
                                <div class="col-md-8 mb-4">
                                    <!--Patient Name-->
                                    <div class="form-outline">
                                        <div class="form-outline">
                                            <label class="form-label">Patient Name</label>
                                            <select name="PatientId" id="PatientId" class="form-control"
                                                #PatientId="ngModel" required
                                                [(ngModel)]="patService.formData.PatientId"
                                                [ngClass]="{'is-invalid':PatientId.touched && PatientId.invalid}">
                                                <option value=0 disabled>Choose patient</option>
                                                <option *ngFor="let dept of patService.patients"
                                                    value="{{dept.PatientId}}">{{dept.PatientName}}
                                                </option>


                                            </select>
                                            <div class="validation-error"
                                                *ngIf="PatientId.touched && PatientId.invalid">

                                                <div *ngIf="PatientId.errors.required">
                                                    Patient Name is required</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 mb-4">
                                    <!--Patient Name-->
                                    <div class="form-outline">
                                        <div class="form-outline">
                                            <label class="form-label">Doctor</label>
                                            <select name="DoctorId" id="DoctorId" class="form-control"
                                                #DoctorId="ngModel" required [(ngModel)]="docService.formData.DoctorId"
                                                [ngClass]="{'is-invalid':DoctorId.touched && DoctorId.invalid}">
                                                <option value=0 disabled>Choose Doctor</option>
                                                <option *ngFor="let dept of docService.doctors"
                                                    value="{{dept.DoctorId}}">{{dept.DoctorName}}
                                                </option>


                                            </select>
                                            <div class="validation-error" *ngIf="DoctorId.touched && DoctorId.invalid">

                                                <div *ngIf="DoctorId.errors.required">
                                                    Doctor is required</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="row">
                                <div class="col-md-8 mb-4 pb-2">

                                    <label>PATIENT CONTACT</label>
                                    <input name="Contact" #Contact="ngModel" [ngModel]="appservice.formData.Contact"
                                        [pattern]="mobNumberPattern" class="form-control" placeholder="Enter Contact"
                                        minlength="1" maxlength="25" required
                                        [ngClass]="{'is-invalid':Contact.touched && Contact.invalid}" />
                                </div>
                                <div class="validation-error" *ngIf="Contact.touched && Contact.invalid">
                                    <div *ngIf="Contact.errors.pattern">
                                        <span style="color:red">Mobile number not valid.</span>
                                    </div>
                                    <div *ngIf="Contact.errors.required">
                                        <span style="color:red">Contact is required</span>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-8">

                                    <label>Date</label>
                                    <input type="Date" name="AppointmentDate" id="AppointmentDate"
                                        #AppointmentDate="ngModel" [ngModel]="appservice.formData.AppointmentDate"
                                        class="form-control" required
                                        [ngClass]="{'is-invalid':AppointmentDate.touched && AppointmentDate.invalid}" />
                                    <div class="validation-error"
                                        *ngIf="AppointmentDate.touched && AppointmentDate.invalid">

                                        <div *ngIf="AppointmentDate.errors.required">
                                            Date is required</div>
                                    </div>
                                </div>
                            </div>
<br>
                            <div class="col-8">
                                <button type="submit" [disabled]="!(form.valid && form.dirty)"
                                class="btn btn-lg btn-primary form-control">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>