<div class="container">

    <div class="header">


        <div class="row">
            <div class="h-100 row align-items-center text-center">
                <div class="col">
                    <br>
                    <h5>Patient Prescription History</h5>
                </div>
            </div>
        </div>

        <br>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>

                    <th> Medical Notes </th>
                    <!-- <th> Test Notes </th> -->

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pservice.prescriptionHistory">
                    <td (click)="populateForm(item)"> {{item.PrescriptionId}} </td>
                    <td (click)="populateForm(item)"> {{item.PrescriptionDate | date:'mediumDate'}} </td>
                    <td (click)="populateForm(item)"> {{item.DoctorNotes}} </td>

                </tr>
            </tbody>

        </table>



    </div>


    


</div>